* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
}


.titulos--2 h2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #260035;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
}

h2 .texto{
    display: flex;
    color: white;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    background-color: #260035;
    margin: 5px;
}

.cardflexrow {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: center;
    padding: 0px;
    margin: 0;
    flex-wrap: wrap; 
}
  
.cardflexrow--transicion-2 {
    width: 250px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 5px 15px grey;
    text-align: center;
    margin: 0; 
    background: #e8aff0;
    margin-right: 30px;
}


.cardflexrow--transicion-2 img {
    max-width: 250px;
    max-height: 300px;
    vertical-align: middle;
    transition: all 0.5s ease; 
}

/*HOVER*/
.cardflexrow--transicion-2:hover {
    box-shadow: 1px 5px 20px grey;
}


.cardflexrow--transicion-2:hover img {
    transform: scale(1.1);
    border-radius: 20px; 
}